.user{
    display: flex;
    align-items:center;
    gap: 10px;
    padding: 2rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2.5rem;
}

.selectContent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.select {
    width: 100%;
    height: 25px;
    padding: 0px 10px;
    appearance: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z'/%3E%3Ccircle cx='12' cy='12' r='3'/%3E%3C/svg%3E") no-repeat 95% 50%;
    background-size: 20px 20px;
    margin-bottom: 27rem;
}

.select:focus {
    outline: none;
    border-color: #007bff; 
    background: none ;
}
.input {
    display: flex;
    flex-direction: column;
}

.title{
    background-color: #c6c4be;
    border: 1px solid black;
    padding: 0px 50px;
}
.table{
    display: none;
    width: 100%;
    height: 450px;
    background-color: #dcdbdb;
    border: 1px solid black;
    padding: 1rem 2rem;
}

.cargo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#input{
    width: 170px;
    height: 20px;
}
#date{
    width: 175px;
    height: 25px;
    gap:4rem;
}

#select {
    width: 180px;
    height: 27px;
}
#escolaridade {
    width: 180px;
    height: 26px;
}
#cpf {
    width: 170px;
    height: 20px;
}
#departamento {
    width: 180px;
    height: 27px;
}
#beneficios {
    width: 175px;
    height: 20px
}

.cadastrar{
    text-decoration: none;
    padding-top:1rem;
}

.button {    
    cursor: pointer;
    padding: 0.5rem 4rem;
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    color: black;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
}

.button:hover {
    background-color: gray;
 }

 .cadastrar:hover{
    scale: 2.1;
 }

 .back{
    text-decoration: none;
 }

 .buttonBack {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.3rem;
    margin-top: -2rem;
    background-color: rgb(122, 3, 3);
    border: 1px solid rgb(122, 3, 3);
    color: black;
    border-radius: 5px;
    padding: 0.3rem 1rem;
 }

 .buttonBack:hover {
    background-color: red;
 }
 .back:hover{
     scale: 1.2 ;
 }

 .ctps{
    display: flex; 
    flex-direction: row; 
    gap: 0.5rem;
 }

 @media (max-width: 700px) {
    .content {
        flex-direction: column;
        align-items: stretch;
    }

    .selectContent {
        flex-direction: column;
    }

    .select {
        width: 50%;
        margin-bottom: -2rem;
    }

    .table {
        display: block;
        width: 90%;
    }

    .cargo {
        width: 100%;
        max-width: 100%;
        gap:0.5rem;
    }

    #input {
        width: 100%;
        max-width: 100%;
    }

    #date {
        width: 175px;
        max-width: 100%;
    }

    #select {
        width: 100%;
        max-width: 100%;
    }

    #escolaridade {
        width: 185px;
        max-width: 100%;
    }

    #cpf {
        width: 100%;
        max-width: 100%;
    }

    #departamento {
        width: 180px;
        max-width: 100%;
    }

    #cargoSelect {
        width: 185px;
        height: 27px;
    }

    #contrato {
        width: 185px;
        height: 27px;
    }

    .buttonBack{
        margin: 1rem 1rem 0 0;
    }
}

@media (max-width: 400px) {
    .title {
        padding: 0;
    }
}
    